<h2>Product Details</h2>

<div *ngIf="product">
  <div style="width: 100%; display: table;">
      <div style="display: table-row">
          <div style="width: 30%; display: table-cell;"><h2>Name:</h2></div>
          <div style="width: 70%; display: table-cell;"><h1>{{ product.name }}</h1></div>
      </div>
      <div style="display: table-row">
          <div style="width: 30%; display: table-cell;"><h2>Price:</h2></div>         
          <div style="width: 70%; display: table-cell;"><h1>{{ product.price | currency }}</h1></div>
      </div>
      <div style="display: table-row">
          <div style="width: 30%; display: table-cell; align: left;"><h2>Desc:</h2></div>
          <div style="width: 70%; display: table-cell; align: left;"><h1>{{ product.description }}</h1></div>
      </div>
  </div>
  <button (click)="addToCart(product)">Buy</button>
</div>